@import url(fonts.css);

:root {
    --color-bg: hsl(0, 0%, 20%);
    --color-fg: hsl(0, 0%, 30%);
    --color-accent: hsl(152, 78%, 55%);
    --color-font: hsl(0, 0%, 80%);

    --spacing: 1.25rem;
    --rounding: 10px;
    --border-size: 3px;

    --font-text: 'Nunito', sans-serif;
    --font-text-alt: 'Roboto Slab', serif;
    --font-test-alt2: 'Rubik', sans-serif;
    text-align: justify;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: hsl(0, 0%, 80%);
        --color-fg: hsl(0, 0%, 90%);
        --color-accent: hsl(152, 78%, 55%);
        --color-font: hsl(0, 0%, 20%);
    }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-accent);
    margin: calc(0.5*var(--spacing));
}

img {
    height: 100%;
    width: auto;
}

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    font-family: var(--font-text);
    display: grid;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 10vh) 1fr minmax(50px, 15vh);
    gap: var(--spacing);
    grid-template-areas:
        "header"
        "content"
        "footer";
    max-width: 1200px;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: var(--color-accent);
    color: var(--color-fg);
    border-radius: 0 0 var(--rounding) var(--rounding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: var(--spacing);
    padding: var(--spacing);
    grid-template-areas:
        "left right";
}

.header a {
    color: var(--color-bg);
    margin: 0;
}

.left {
    grid-area: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: calc(0.5*var(--spacing));
    color: var(--color-bg);
    font-size: 2.5vh;
}

.right {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
    font-size: 1.5em;
    grid-area: right;
    align-items: center;
    justify-items: center;
}

.right a {
    width: 100%;
    border-radius: var(--rounding);
    border: var(--border-size) var(--color-bg) solid;
    text-align: center;
}

@media (max-width: 600px) {
    .right {
        display: none;
    }
}

.content {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
    grid-area: content;
    padding: 0 var(--spacing);
}

.footer {
    grid-area: footer;
}