@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(scrollbar.css);
@import url(hide_form_arrows.css);

:root {
    --color-accent: hsl(152, 78%, 55%);
    --color-bg: hsl(0, 0%, 20%);
    --color-fg: hsl(0, 0%, 30%);
    --color-font: hsl(0, 0%, 80%);

    --border-size: 3px;
    --rounding: 10px;
    --spacing: 0.75rem;

    --font-text: 'Nunito', sans-serif;
    font-size: larger;
    line-height: 1.6;
    text-align: justify;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-accent: hsl(152, 78%, 55%);
        --color-bg: hsl(0, 0%, 80%);
        --color-fg: hsl(0, 0%, 90%);
        --color-font: hsl(0, 0%, 20%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
}

img {
    height: inherit;
}

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    display: grid;
    font-family: var(--font-text);
    width: 100vw;
}

.header {
    background-color: var(--color-accent);
    color: var(--color-bg);
    display: flex;
    gap: var(--spacing);
    height: max(50px, 10vh);
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    min-height: max(375px, 75vh);
    padding: var(--spacing);
    gap: var(--spacing);
}

#register-form {
    display: grid;
    gap: calc(0.5*var(--spacing));
}

input,
input:hover,
input:focus {
    border: none;
    border-radius: var(--rounding);
    padding: var(--spacing);
    outline: none;
}

form button {
    background-color: var(--color-accent);
    border: none;
    border-radius: var(--rounding);
    color: var(--color-bg);
    padding: var(--spacing);
}

.footer {
    background-color: var(--color-fg);
    height: max(75px, 15vh);
}